{% extends "base.html" %}

{% block title %}Contact - Noella Formin{% endblock %}

{% block content %}
<h2 class="section-title">Contact:</h2>

<div class="contact-info">
    <p><strong>e-mail:</strong> <a href="mailto:Achaformin@gmail.com">Achaformin@gmail.com</a></p>
    <p><strong>phone:</strong> <a href="tel:+13392289258">+1 (339) 228-9258</a></p>
    <p><strong>linkedin:</strong> <a href="https://www.linkedin.com/in/noella-f-725396261/" target="_blank" rel="noopener noreferrer">https://www.linkedin.com/in/noella-f-725396261/</a></p>
</div>
{% endblock %}
